.SearchBox {
  height: 56px;
  left: 180px;
  top: 160px;

  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
  border-radius: 10px;

  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #bbbbbb;
  margin: 45px 0;
}

.SearchBox svg {
  color: black;
  margin: 0px 22px;
}

.SearchBox input {
  border: none;
  width: 100%;
}
