#root > div > div.pro-sidebar-inner > div {
  background: #303c6c;
  border-radius: 0px 20px 20px 0px;
}

#root > div > div.pro-sidebar-inner {
  background: none;
  width: 150px;
}

#root > div > div.pro-sidebar-inner > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 45px 50px 30px;
  font-size: 2rem;
  color: white;
  border: none;
}

#root > div > div.pro-sidebar-inner > div > nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
}

#root > div > div.pro-sidebar-inner > div > nav > ul > div {
  position: absolute;
  bottom: 35px;
  left: 20px;
  border: none;
  display: flex;
  justify-content: center;
  float: bottom;
  align-items: center;
  padding: 45px 45px 50px 30px;
  font-size: 2rem;
  color: white;
}
