.Column2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 45px 20px;
  padding-right: 45px;
  /* justify-content: space-evenly; */
}

.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 55px;
}

.profileBar {
  display: flex;
  /* background-color: yellow; */
  align-items: center;
  justify-content: space-around;
  width: 25%;
  min-width: 250px;
  padding: 0 20px;
}

.topBar h5 {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.profileImg {
  background: url("https://images.pexels.com/users/avatars/23775272/justin-wolfert-937.jpeg?auto=compress&fit=crop&h=256&w=256");
  background-size: cover;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.topBar svg {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 20px;
}

.topBar div svg {
  font-weight: bold;
  font-size: 1.5rem;
}
